body {
    background-position: center;
background-attachment: fixed;
background-size: 100vh, 100vw;}

p {font-family: helvetica;
    color: white;
}


@media only screen and (max-width: 600px) {
    body {background-image: url(tree.JPG);}
    p {font-size: 32em;}
}@media only screen and (min-width: 600px){
    body {background-image: url(tree.JPG);}
p {font-size: 1em;}
}@media only screen and (min-width: 992px) {
    body {background-image: url(pinksm.jpg);}
    p {font-size: 32em ;}
}@media only screen and (min-width: 1200px) {
    body {background-image: url(pink.jpg);}
    p {font-size: 1em}}
  